@font-face {
    font-family: myFont;
    src: url(Super\ Corn.ttf);
  }

* {
    box-sizing: border-box;
}

body {
    background-color: #332941;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    margin-top: -20px;
    margin-bottom: -40px;
}

#scoreboard {
    font-family: myFont;
    font-size: 25px;
    letter-spacing: 2px;
    color: #F8E559;
    margin-bottom: 20px;
}

#result {
    font-family: myFont;
    font-size: 35px;
    letter-spacing: 3px;
    color: #F8E559;
    margin-top: 30px;
    margin-bottom: 30px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    background-color: #F8E559;
    width: 90px;
    height: 45px;
    border-radius: 10px;
    padding: 14px;
    text-align: center;
    transition: all 0.3s ease;
    position: relative;
    margin-bottom: 20px;
    margin-right: 40px;
}

#home:hover,
#home:active {
    background-color: #864AF9;
    color: #F8E559;
    box-shadow: 0 0.6em 0.6em -0.4em #864AF9;
    transform: translateY(-0.55em);
}

#nextg {
    font-family: myFont;
    font-size: 16px;
    color: #3B3486;
    border-radius: 10px;
    padding: 0px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow:inset 1px 1px 1px 0px rgba(214, 188, 255, 0.623),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    background: #F8E559;
    width: 145px;
    height: 45px;
    border: none;
    margin-bottom: 20px;
}
    
#nextg:hover,
#nextg:active { 
    background-color: #864AF9;
    color: #F8E559;
    box-shadow: 0 0.6em 0.6em -0.4em #864AF9;
    transform: translateY(-0.55em);
}

#board {
    width: fit-content;
    background-color: #3B3486;
    padding: 8px;
    border-radius: 8px;

    .flex-container {

        .buttons {
            width: 60px;
            height: 60px;
            border-radius: 6px;
            font-family: myFont;
            color: #F8E559;
            background-color: #864AF9;
            margin: 6px;
            text-align: center;
            font-size: 45px;
        }

        .buttons:hover,
        .buttons:focus {
            background-color: #332941;
            transform: scale(1.1);
        }
    }
}

/* dinagdag ko lang para sa reset score */
#filler {
    width: 20px;
}

#reset_score {
    font-family: myFont;
    font-size: 16px;
    color: #3B3486;
    border-radius: 10px;
    padding: 0px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow:inset 1px 1px 1px 0px rgba(214, 188, 255, 0.623),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    background: #F8E559;
    width: 145px;
    height: 45px;
    border: none;
    margin-bottom: 20px;
}
    
#reset_score:hover,
#reset_score:active {
    background-color: #864AF9;
    color: #F8E559;
    box-shadow: 0 0.6em 0.6em -0.4em #864AF9;
    transform: translateY(-0.55em);
}
#resetAllButton {
    font-family: myFont;
    font-size: 16px;
    color: #3B3486;
    border-radius: 10px;
    padding: 0px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow:inset 1px 1px 1px 0px rgba(214, 188, 255, 0.623),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    background: #F8E559;
    width: 145px;
    height: 45px;
    border: none;
    margin-bottom: 20px;
}
    
#resetAllButton:hover,
#resetAllButton:active {
    background-color: #864AF9;
    color: #F8E559;
    box-shadow: 0 0.6em 0.6em -0.4em #864AF9;
    transform: translateY(-0.55em);
}
