/* 
dito kayo maglagay ng para sa homepage/landing page
- yung kung saan pipili kung 2 players ba, or yung ai (easy, difficult, expert)
*/

@font-face {
    font-family: myFont;
    src: url(Super\ Corn.ttf);
  }

body {
    background-color: #332941;
}

#tictac {
    margin-top: 5%;
    color: #F8E559;
    letter-spacing: 4px;
    font-family: myFont;
    font-size: 110px;
    text-align: center;
    text-shadow: 
    3px  4px     #864AF9, 
   -1px  1px     #864AF9, 
    1px -1px     #fffdde, 
   -1px -1px     #864AF9,
    1px  1px 6px #F8E559;
}

#gamemode {
    margin-top: -10px;
    font-family: myFont;
    font-size: 55px;
    letter-spacing: 2px;
    color: #9b64ff;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 0px 10px rgba(137, 46, 255, 0.842);
}

#levels {
    margin-top: 30px;
    text-align: center;
    font-family: myFont;
    font-size: 50px;
    color: #9b64ff;
    letter-spacing: 2px;
    text-shadow: 0px 0px 10px rgba(137, 46, 255, 0.842);
}

#human {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#robot {
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link,
a:visited {
    text-align: center;
    background-color: #F8E559;
    padding: 14px 25px;
    border-radius: 12px;
    color: #332941;
    letter-spacing: 1.5px;
    font-family: myFont;
    margin: 25px;
    font-size: 30px;
    text-decoration: none;
}

a:hover,
a:active {
    background-color: #864AF9;
    color: #F8E559;
    transform: scale(1.2);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    color: #332941;
    letter-spacing: 0.8px;
    width: 100%;
    background-color: #F8E559;
    padding: 1px;
    font-size: 14px;
    font-family: myFont;
    text-align: center;
  }